


<h1>About</h1>
<% link_to "Home",root_path%>

<p>
		<%= link_to "One Month Rails", "http://onemonthrails.com" %>
		is a project to teach Ruty on rails in one month. This is the sample application
		</P

